:root {
    --color-black: #292f36;
    --color-white: #f7fff7;
    --color-teal: #20938b;
    --color-red: #ff6b6b;
    --color-yellow: #ffe66d;
    --color-gray: #b5b3b3e9;

    --font-size-large: 50px;
    --font-size-title: 16px;
    --font-size-author: 14px;
    --font-size-pages: 13px;

}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.header {
    height: 70px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 5px 5px var(--color-gray);
}

h1 {
    color: var(--color-white);
    font-variant: small-caps;
}

.add-btn {
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 7px;
    background-color: var(--color-teal);
    color: var(--color-white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--font-size-title);
    font-weight: 500;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* Change scale back to 0 when done styling with form */
    transition: 200ms ease-in-out;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    z-index: 10;
    background-color: var(--color-white);
    width: 30%;
    max-width: 40%;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-teal);
    color: var(--color-white);
    border-radius: 7px;
}

.popup-header-text {
/* Add Styles */
}

.close-btn {
    border: none;
    color: var(--color-white);
    background-color: var(--color-teal);
    font-size: 25px;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-body {
    padding: 30px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: none;
}

legend {
    display: none;
}

.book-inputs {
    display: flex;
    flex-direction: column;
}

.radio-btn {
    display: flex;
    gap: 20px;
}

#submit-btn {
    background-color: var(--color-teal);
    border: none;
    border-radius: 7px;
    color: var(--color-white);
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--font-size-title);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.main {
    border: 1px solid var(--color-black);
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 5px 5px 5px var(--color-gray);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 20px;
    padding: 20px;
}

.book {
    height: 200px;
    width: 90%;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    text-align: center ;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px var(--color-gray);
}

.book-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.book-edit-btn {
    padding-top: 15px;
    border-top: 1px solid var(--color-black);
    display: flex;
    gap: 10px;
    justify-content: center;
}

#remove-btn, #edit-btn {
    border: none;
    border-radius: 7px;
    height: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#edit-btn {
    background-color: var(--color-yellow);
    width: 60px;
}

#remove-btn {
    background-color: var(--color-red);
    color: var(--color-white);
    width: 60px;
}

h2 {
    font-size: var(--font-size-title);
    margin: 0;
}

h3 {
    font-size: var(--font-size-author);
    margin: 0;
    font-weight: 200;
}

p {
    font-size: var(--font-size-pages);
    margin: 0;
    font-style: italic;
}

.isRead {
    border: 1px solid var(--color-gray);
    border-radius: 7px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-title);
}